        {% for label, messages in app.flashes %}

            <div class="container mt-5">
                <div class="alert alert-{{ label }} text-center">
                    {% for message in messages %}
                        <p> {{ message | raw }} </p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}