{% extends 'base.html.twig' %}
{% block title %}
  Accueil
{% endblock %}
{% block body %}
        <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center ">
                            <h3 class="t1">Location des Objets </h3>
                            <h4 class="t1" style="color:white;">Partout au MAROC </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div style="padding:20px;">
    <h2 style="text-align:center; color: firebrick;"><i class="fas fa-medal"></i> LES OBJETS PREMIUM</h2>
    <div class="row mt-5">
          {% set premium = 1 %}
      {% for ad in ads_premium %}
        {% include 'ad/_ad.html.twig' %}
      {% endfor %}
    </div>
  </div>
  <nav class="blog-pagination justify-content-center d-flex">

    {{ knp_pagination_render(ads_premium) }}
    </nav>
</div>

<div style="padding:20px;padding-top:60px">
    <h2 style="text-align:center; color: firebrick;"><i class="fas fa-star"></i> LES OBJETS STARS</h2>
    <div class="row mt-5">
    {% set premium = 0 %}
      {% for tab in ads %}
        {% set ad = tab.annonce %}
        {% include 'ad/_ad.html.twig'   %}
      {% endfor %}
    </div>
 
  </div>
  
</div>

{% endblock %}